*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
  }

body{
    height: 100%;
    
}

/* header  */

.menu-btn{
    color: #424144;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #f3f4f6;
    box-shadow: 0 0 14px rgba(0 , 0 ,0, 0.3);
}
.navbar .logo h1{
    color: #424144;
    border-bottom: 4px solid #1aa32d;
}

.navbar .menu li{
   list-style: none;
   display: inline-block;
}
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: #424144;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navbar .menu li .active{
    border-bottom: 4px  solid #f63e4e;
}

.navbar .menu li a i{
    color:#f63e4e ;
}
.navbar .menu li a:hover{
    border-bottom: 4px solid #f63e4e;
}

/* content  */

.content {
    background-image: url(./images/istockphoto-1208565317-1024x1024.jpg);
    background-size: cover; 
    background-position:fixed;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #424144;
    height: 100vh;   
}
.content h1{
    font-size: 35px;
}
.content p{
    font-size: 20px;
    margin-top: 20px;
}
.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: #f63e4e;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}
.content button:hover{
    background-color: white;
    color: #f63e4e;
    border: 1px solid gray;
}
.pheading{
    text-align: center;
    margin: 50px 0;
    color: #424144;
    text-shadow: 50 0 0px rgb(202, 72, 20);
}

/* products */

.sec{
   padding: 10px 5%; 
}

.products{
    display:grid ;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}

.products .card{
    width: 310px; 
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img{
    height: 250px;
    width: 100%;
}

.products .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}

.products .card .title{ 
     font-weight: 900;
    font-size: 20px; 
     color: #424144; 
     padding: 0 20px; 
 } 

.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
 }

 .products .card .box .price{
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
 }

 .products .card .box .btn{
    font-size: 13px;
    color: #f63e4e;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #f63e4e;
    border-radius: 20px;
 }

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #f63e4e;
    color: white;  
}

/* footer  */

footer{
    background-color: #f3f4f6;
    height: 10vh;
}

footer p{
    text-align: center;
    line-height: 10vh;
}

footer p a{
    text-decoration: none;
    color: #f63e4e;
    font-weight: bold;
}

/* Responsive */

@media (max-width:820px) {
    .menu-btn{
     display: block;   
     z-index: 999;
    }

   

    .navbar .menu li{
        display: flex;
        justify-content: center;
    }

    .navbar .menu li a{
        margin: 10px 0;
        font-size: 20px;
    }

    
    .navbar .logo h1{
        font-size: medium;
    }

    .navbar .menu li a{
        font-size: medium;
        margin-left: -90px;
    }
    .content h1{
        font-size: 25px;
        max-width: 180px;
    }
    .content p{
        font-size: 10px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
       
    }

    .pheading{
        max-width: 180px;
    }
    .navbar .logo h1{
        font-size: 13px;
        position: relative;
        top: 40px;
        left: -145px;
    }
    
}


